<%= render 'layouts/header' %>
<%= render 'layouts/menu' %>

<div id="community-story-params" class="main-container">
	<div class="container">
		<h1><%= @story.title.first(100) %></h1>

		
		<%= form_with model: @story, url: update_story_params_path(@story.id), method: "PATCH", local: true do |f| %>
			
			<h2>Privacy</h2>

			<%= f.fields_for :story_privacy do |privacy| %>
				<% PRIVACY_SELECTORS.each do |priv_selector| %> 
					<div>
						<%= privacy.label(:user_private, value: priv_selector) do %>
						<%= privacy.radio_button :user_private, priv_selector %><%= priv_selector %>
						<% end %>
						<% if priv_selector == "private" %>
						(<%= privacy.label :bypass_token%>
							<%= privacy.text_field :bypass_token %>)
							
						<% end %>
					</div>
				<% end %>
				<p>The bypass token allows you to grant access to private stories to specific visitors only</p>
			<% end %>

			<h2>License</h2>

			<div id= "license-list">
				<div class="single_license" data-license-name="CC-BY-SA">
					<p>CC-BY-SA</p>
					<%= image_tag "ccheart_red.svg" %>
					<p>Attribution-ShareAlike 2.0 Generic (CC BY-SA 2.0)</p>
					<%= link_to "visit me", "https://creativecommons.org/licenses/by-sa/2.0/", target: "_blank", "rel": "noopener noreferrer" %>
				</div>
				<div class="single_license" data-license-name="CC-ND">
					<p>CC-ND</p>
					<%= image_tag "ccheart_red.svg" %>
					<p>Attribution-NonCommercial-NoDerivs 2.0 Generic (CC BY-NC-ND 2.0)</p>
					<%= link_to "visit me", "https://creativecommons.org/licenses/by-nc-nd/2.0/", target: "_blank", "rel": "noopener noreferrer" %>
				</div>
				<div class="single_license" data-license-name="CC-NC">
					<p>CC-NC</p>
					<%= image_tag "ccheart_red.svg" %>
					<p>Attribution-NonCommercial 2.0 Generic (CC BY-NC 2.0)</p>
					<%= link_to "visit me", "https://creativecommons.org/licenses/by-nc/2.0/", target: "_blank", "rel": "noopener noreferrer" %>
				</div>
				<div class="single_license" data-license-name="CC-NC-ND">
					<p>CC-NC-ND</p>
					<%= image_tag "ccheart_red.svg" %>
					<p>Attribution-NonCommercial-NoDerivs 2.0 Generic (CC BY-NC-ND 2.0)</p>
					<%= link_to "visit me", "https://creativecommons.org/licenses/by-nc-nd/2.0/", target: "_blank", "rel": "noopener noreferrer" %>
				</div>				
			</div>

			<div id="license-value">
				<%= f.fields_for :license do |lic| %>
					<%= lic.label :name %>
					<%= lic.text_field :name %>
				<% end %>
			</div>
			
			<div class="submit-button">
				<%= submit_tag "submit" %>
			</div>
				
		<% end %>
	</div>
	
</div>

<%= render 'layouts/footer' %>