<%= render 'layouts/header' %>
<%= render 'layouts/menu' %>

<div id="community-home" class="main-container">
	<div class="container">
		<div class="row">
			<div id="hello" class="col-md-9">
				<p>Inklewriter is a fantastic online tool that allows users to write interactive stories. It has been conceived and developped by <%= link_to "Inkle Studios", "https://www.inklestudios.com/", rel: "noopener noreferrer", class: "action-link", target: "blank" %> but later deprecated. We are bringing back to you today under a free license with Inkle Studios agreement.</p>
			</div>
			<div id="hello-image" class="col-md-3">
				<%= image_tag "ink-pen.gif" %>
			</div>
		</div>
	</div>	
</div>

<%= render 'layouts/footer' %>