<%= render 'layouts/header' %>
<%= render 'layouts/menu' %>

<div id="community-home" class="main-container">
	<div class="container">
		<div class="row">
			<div id="hello" class="col-md-9">
				<p><%= t(".motto_html", link: link_to("Inkle Studios", "https://www.inklestudios.com/", rel: "noopener noreferrer", class: "action-link", target: "blank")) %></p>
			</div>
			<div id="hello-image" class="col-md-3">
				<%= image_tag "ink-pen.gif" %>
			</div>
		</div>
	</div>	
</div>

<%= render 'layouts/footer' %>