<%= render 'layouts/header' %>
<%= render 'layouts/menu' %>

<div id="community-how-it-works" class="main-container">
	<div class="container">

		<div class="row">
      <div class="col-md-12">
			  <p class="comment">
          <%= t(".preamble") %>
        </p>
		  </div>
    </div> <!-- end row -->


    <div id="getting-started">

      <div>

        <h2><%= t(".getting_started") %></h2>

        <div class="image-wrapper">
          <%=  image_tag 'splash.jpg', class: "round-corners", style: "max-width: 709px;" %>
        </div>

        <p><%= t(".start_writing_html") %></p>

        <h2><%= t(".add_options") %></h2>

        <div class="image-wrapper">
          <%=  image_tag 'options.jpg', class: "round-corners", style: "max-width: 698px;" %>          
        </div>

        <p><%= t(".add_choice_html") %></p>

        <h2><%= t(".switching_paths") %></h2>

        <p><%= t(".navigating_html") %></p>

        <div class="image-wrapper">
          <%=  image_tag 'rewind.jpg', class: "round-corners", style: "max-width: 260px;" %>  
        </div>

        <p><%= t(".content_panel_html") %></p>

        <div class="image-wrapper">
          <%=  image_tag 'contents.jpg', class: "round-corners", style: "max-width: 404px;" %>
        </div>

        <h2><%= t(".joining_paths") %></h2>

        <div class="image-wrapper">
          <%=  image_tag 'join.jpg', class: "round-corners", style: "max-width: 927px;" %>    
        </div>

        <p><%= t(".branching") %></p>

        <h2><%= t(".how_to_read") %></h2>

        <div class="image-wrapper">
          <%=  image_tag 'read.jpg', class: "round-corners", style: "max-width: 870px;" %>    
        </div>

        <p><%= t(".read_the_story") %></p>

        <h2><%= t(".signing_up") %></h2>

        <p><%= t(".not_signed_in_explanation_html") %></p>

        <p><%= t(".cant_save_stories_if_unsigned") %></p>

        <h2>Sharing stories in inklewriter</h2>

        <div class="image-wrapper">
          <%=  image_tag 'share.jpg', class: "round-corners", style: "max-width: 676px;" %>   
        </div>      

        <p><%= t(".advantages_of_signing_in") %></p>

        <p><%= t(".how_to_sign_up") %></p>

        <h2><%= t(".how_to_add_images") %></h2>

        <p><%= t(".select_image_position") %></p>

        <div class="image-wrapper">
          <%=  image_tag 'image-widget.jpg', class: "round-corners", style: "max-width: 79px;" %>          
        </div>

        <p><%= t(".adding_an_image_html") %></p>

        <div class="image-wrapper">
          <%=  image_tag 'choose-image.jpg', class: "round-corners", style: "max-width: 300px;" %>          
        </div>

        <p><%= t(".be_careful_of_copyright") %></p>

        <h2><%= t(".how_to_use_logic") %></h2>

        <div class="image-wrapper">
          <%=  image_tag 'if-widget.jpg', class: "round-corners", style: "max-width: 78px;" %>
        </div>  

        <p><%= t(".please_check_sherlock_story_html") %></p>

        <h2><%= t(".how_to_add_links") %></h2>

        <p><%= t(".add_link_in_brackets") %></p>

            <p class="pre"><%= t(".link_example") %></p>

        <p><%= t(".change_link_appearance_html") %>:</p>

        <p class="pre"><%= t(".link_with_placeholder") %></p>

        <h2><%= t(".how_to_vary_what_is_written") %></h2>

        <p><%= t(".many_ways_to_vary_content_html") %>:</p>

        <p class="pre"><%= t(".variation_example") %></p>

        <p><%= t(".example_explanation") %></p>

        <p><%= t(".it_is_possible_to_print_a_counter") %></p>

        <p class="pre"><%= t(".counter_example") %></p>

        <p><%= t(".counter_example_explanation") %></p>        

        <p class="inklewriter-excerpt pre"><%= t(".counter_example_user_display") %></p> 

        <h2><%= t(".try_it_out") %></h2>
      </div> <!-- end getting started -->

		</div> <!-- end row -->
	</div>	<!-- end container --> 
</div>


<%= render 'layouts/footer' %>