<%= render 'layouts/header' %>
<%= render 'layouts/menu' %>

<div id="community-my-stories" class="main-container">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<p>Hi <span class="user-data"><%= @user.email %></span></p>
			</div>
		</div>

		<div id="stories">
		
			<% unless @user.stories.any? %>
				<p><%= t(".you_are_owning_no_story") %></p>
			<% else %>
				<p><%= t(".you_are_owning_x_stories", stories: t('story', count: @user.stories.count)) %>. <%= t('here_it_is', count: @user.stories.count) %> :</p>

				<div class="row story-item-header">
				
	                <div class="col-md-5">
	                    <span class="story-name"><%= t(".story_title") %></span>
	                </div> 
	                <div class="col-md-2">
	                    <span class="story-detail"><%= t(".number_of_words") %></span>
	                </div>
	                <div class="col-md-1">
	                    <span class="story-detail"><%= t(".privacy_policy") %></span>
	                </div>
	                <div class="col-md-2">
	                    <span class="story-detail"><%= t(".license") %></span>
	                </div>
	                <div class="col-md-1">
	                    <span class="story-detail"><%= t(".score") %></span>
	                </div>

	            </div>    
	            

	            <% @user.stories.each do |s| %>
					<div class="row story-item">

						<div class="col-md-5">
							<%= link_to story_params_path(s.id) do %> 
								<span class="story-name"><%= s.title %></span>
							<% end %>							
						</div>
						
						<div class="col-md-2">
							<span class="story-detail"><%= t("word", count: s&.story_stat&.total_words.to_i) %><%=  %></span>
						</div>
						
						<div class="col-md-1">
							<span class="story-detail"><%= 
              if s.story_privacy.present?
                t(snakecase(s.story_privacy.user_private)) 
              else
                t("no_privacy_setting_yet")
              end %></span>
						</div>
						
						<div class="col-md-2">
							<span class="story-detail"><%= s&.license&.license_name %></span>
						</div>					

						<div class="col-md-1">
							<span class="story-detail"><%= s&.story_stat&.score.round(2) %> </span>
						</div>

					</div>	
				<% end %>
				
			<% end %>

			
		</div>
	</div>
</div>


<%= render 'layouts/footer' %>