<%= render 'layouts/header' %>
<%= render 'layouts/menu' %>

<div id="community-story-params" class="main-container">
  <div class="container">

    <h1><span class="mute"><%= t("story").capitalize %></span class="mute"> <%= @story.title.first(200) %></h1>

		<h2><%= t("privacy_policy") %></h2>

		
		<%= form_with model: @story, url: update_story_params_path(@story.id), method: "PATCH", local: true do |f| %>

			<div id="privacy-form">

				<%= f.fields_for :story_privacy do |privacy| %>
					<% PRIVACY_SELECTORS.each do |priv_selector| %>

						<div>
							<%= privacy.label(:user_private, value: priv_selector) do %>
								<%= privacy.radio_button :user_private, priv_selector %><%= t(snakecase(priv_selector)) %>
							<% end %>

							<% if priv_selector == "private" %>
								<% bypass_tok = @story&.story_privacy&.bypass_token || t("not_set_yet") %>
								<%= t(".your_password_is_x_html", password: bypass_tok) %>
								<%# privacy.label :bypass_token%>
								<%# privacy.text_field :bypass_token %>								
							<% end %>
						</div>

					<% end %>

					<p><%= t(".password_allows_accessing_a_story") %> 
						<% if @story.story_privacy.bypass_token.present? %>	
							<%= t(".use_this_link_to_see_story") %> <a href="<%= request.base_url %>/stories/<%= @story.id%>?bypass_token=<%= @story.story_privacy.bypass_token %>"><%= request.base_url %>/stories/<%= @story.id%>?bypass_token=<%= @story.story_privacy.bypass_token %></a>
						<% end %>
					</p>

				<% end %>

			</div>

			
		<%= f.submit "Save" %>
		<% end %>	     

		<div class="section-explanation row">
        
      <div class="image col-md-1">
      	<%= image_tag "quill-question.svg" %>
      </div>
      <div class="col-md-11"> 
		    <h3><%= t(".how_privacy_policy_work") %></h3>
		    <p><%= t(".they_define_who_can_read_your_story") %></p>

		    <ul>
		    	<li> <b><%= t("private") %></b> - <%= t(".private_scope") %>
		    	<li> <b><%= t("public") %></b> - <%= t(".public_scope") %>
		    	<li> <b><%= t("public_and_searchable") %></b> - <%= t(".public_and_searchable_scope") %>
		    </ul>
	    </div> 
      
    </div>  

   


  <%= form_with model: @story, url: update_story_params_path(@story.id), method: "PATCH", local: true do |f| %>

	  <h2><%= t("license").capitalize %></h2>

			

      <h3><%= t(".click_to_pick_a_license") %>.</h3>

			<div id= "license-list">

				<div class="single_license" data-license-name="CC-BY-SA 4.0">
					<p>CC BY-SA 4.0</p>
					<%= image_tag "ccheart_red.svg" %>
					<p>Attribution ShareAlike <br>4.0 Generic </p>
					<%= link_to "Licence Summary ", "https://creativecommons.org/licenses/by-sa/4.0/", target: "_blank", "rel": "noopener noreferrer" %>
				</div>

				<div class="single_license" data-license-name="CC BY-ND 4.0">
					<p>CC BY-ND 4.0</p>
					<%= image_tag "ccheart_red.svg" %>
					<p>Attribution NoDerivatives <br>4.0 Generic </p>
					<%= link_to "Licence Summary ", "https://creativecommons.org/licenses/by-nd/4.0/", target: "_blank", "rel": "noopener noreferrer" %>
				</div>

				<div class="single_license" data-license-name="CC-NC 4.0">
					<p>CC BY-NC 4.0</p>
					<%= image_tag "ccheart_red.svg" %>
					<p>Attribution NonCommercial <br>4.0 Generic ()</p>
					<%= link_to "Licence Summary ", "https://creativecommons.org/licenses/by-nc/4.0/", target: "_blank", "rel": "noopener noreferrer" %>
				</div>

				<div class="single_license" data-license-name="CC-NC-ND 4.0">
					<p>CC BY-NC-ND 4.0</p>
					<%= image_tag "ccheart_red.svg" %>
					<p>Attribution NonCommercial NoDerivatives <br>4.0 Generic</p>
					<%= link_to "Licence Summary ", "https://creativecommons.org/licenses/by-nc-nd/4.0/", target: "_blank", "rel": "noopener noreferrer" %>
				</div>	

			</div>		

			<div id="license-value">
				<%= f.fields_for :license do |lic| %>
					<b><%= lic.label :license_name %></b>
					<%= lic.text_field :license_name %>
				<% end %>
			</div>	

			<%= f.submit "Save" %>

	<% end %>			
      

  <div class="section-explanation row">
      
        
    <div class="image col-md-1">
    	<%= image_tag "quill-question.svg" %>
    </div>
    
    <div class="col-md-11"> 
      <h3><%= t(".why_picking_a_license") %></h3>
      <p><%= t(".inklewriter_sets_no_default") %></p>
      <p><%= t(".it_is_important_to_enforce_a_license") %></p>
      <p><%= t(".we_recommend_to_add_a_license") %></p>
      <p><%= t(".a_license_if_your_own_policy") %></p>
      <h3><%= t(".why_creative_commons") %></h3>
      <p><%= t(".you_can_pick_any_but_cc_are_good") %></p>
      <p><%= t(".cc_advantages") %></p>

			<ul>
				<li><%= t(".they_are_designed_for_the_web") %></li>
				<li><%= t(".they_come_from_the_free_community") %></li>
				<li><%= t(".they_have_been_refined_over_time") %></li>
			</ul>

        
        <p><%= t(".you_can_use_your_own") %></p>
        <p><%= t(".you_can_use_the_zero_license") %> <a href="https://creativecommons.org/choose/zero/" target="_blank">CC0 license</a>.</p>
        <h3><%= t(".which_to_choose") %></h3>
        <p><%= t(".to_fit_your_intentions") %></p>
        <p><%= t(".CC_documentation_html") %></p>
        <ul>
	        <li> <b>BY</b> – <%= t(".BY") %></li>
	        <li> <b>NC (Non Commercial)</b> – <%= t(".NC") %></li>
	        <li> <b>SA (Share Alike)</b> – <%= t(".SA") %></li>
	        <li> <b>ND (No Derivatives)</b> – <%= t(".ND") %></li>
        </ul>
      </div>
    </div>    
  
  </div>

</div>

<%= render 'layouts/footer' %>