<% if flash.present? %>
	<% case flash.first[0] %>
	<%# GENERIC messages, actual flash message is never used %>
	<% when "flash_error" %>
		
		<div id="flash-message" class="anim_longue">
		<div id="image">
			<%= image_tag "broken-quill.svg" %>
		</div>
		<div id="affiche">
			<div id="message">
				<h1>Error</h1>
				<h2><%= flash.first[1] %></h2>
				<!-- <h2>Contactez l'equipe Roofseeds si cette erreur se répète</h2> -->
			</div>
			<div id="check" style="background-color: hsl(7.377, 54.464%, 56.078%);">
				<%= image_tag "white-cross.svg" %>
			</div>
		</div>
		</div>


	<% when "flash_success" %>

		<div id="flash-message" class="anim_courte">
			<div id="image">
				<%= image_tag "green-quill.svg" %>				
			</div>
			<div id="affiche">
				<div id="message">
					<h1>Success</h1>
					<h2><%= flash.first[1] %></h2>
				</div>
				<div id="check" style="background-color: hsl(146.22, 69.231%, 61.765%);">
					<%= image_tag "white-check.svg" %>
				</div>
			</div>
		</div>		


	

	<% end %>
<% end %>