<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">

<!-- Mirrored from writer.inklestudios.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 19 Jun 2018 21:15:07 GMT -->


  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>   
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no"/>

    <title><%= content_for?(:title) ? yield(:title) : "inklewriter" %></title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# below stylesheet has been removed from global scope %>
    <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:headcss) %>
    <%= stylesheet_link_tag    "#{params[:controller]}", media: 'all' %>


    <%= if File.exist?("app/assets/javascripts/#{params[:controller]}/#{params[:action]}.js") 
    then javascript_include_tag "#{params[:controller]}/#{params[:action]}"
    end %>

    <%# adding inklewriter story reader to the controller stories and action show %>
    <% if params[:controller] == "stories" and params[:action] == "show" %>
        <%= javascript_include_tag 'inklewriter-read' %>  
    <% end %>  

    <%# adding inklewriter story writer to the root of site %>
    <% if params[:controller] == "pages" and params[:action] == "index" %>
        <%= javascript_include_tag 'inklewriter-write' %>  
    <% end %>  

    <%# adding inle CSS to stories and pages#index %>
    <% if params[:controller] == "stories" or (params[:controller] == "pages" and params[:action] == "index") %>
        <%= stylesheet_link_tag 'inklewriter' %>  
    <% end %>  

    <script>

        // get around console undefined bug in IE
        if(typeof(console) === 'undefined') {
            var console = {}
            console.log = console.error = console.info = console.debug = console.warn = console.trace = console.dir = console.dirxml = console.group = console.groupEnd = console.time = console.timeEnd = console.assert = console.profile = function() {};
        }


        var AUTH_TOKEN = document.querySelector('meta[name=csrf-token]').content;
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
